@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
  --font-main: "Akaya Telivigala", sans-serif;
  --color-primary: #5c524b;
  --font-title-size: 54px; 
  --background-color-main: #fff983;
}

header {
  font-family: var(--font-main);
  color: var(--color-primary);
  background-color: var(--background-color-main);
  overflow-x: hidden;
}

body {
  font-family: var(--font-main);
  background-color: var(--background-color-main);
  color: var(--color-primary);
  overflow-x: hidden;
}

footer {
  font-family: var(--font-main);
  color: var(--color-primary);
  background-color: var(--background-color-main);
  overflow-x: hidden;
}